<div class="hero-image">
    <div class="parent">
        <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile>
                <mat-card class="estiloCard">
                    <a routerLink="/Usuarios" class="tituloMenu">USUARIOS</a>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="estiloCard">
                    <a routerLink="/Roles" class="tituloMenu">ROLES</a>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="estiloCard">
                    <a routerLink="/Cursos" class="tituloMenu">CURSOS</a>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="estiloCard">
                    <a routerLink="/Estudiantes" class="tituloMenu">ESTUDIANTES</a>

                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

</div>