<div *ngIf="mostrarTablaEstudiantes== true">

    <div class="parent">
        <div class="tituloTabla">
            <h1>Estudiantes</h1>
            <a (click)="AgregarEstudiante()" mat-mini-fab style="margin: 1em; color: white ;background-color: green">
                <mat-icon>add</mat-icon>
            </a>
        </div>

        <table mat-table [dataSource]="Estudiantes" class="mat-elevation-z8 estiloTabla">

            <!-- Documento Column -->
            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> DOCUMENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
            </ng-container>
            <!-- Apellido1 Column -->
            <ng-container matColumnDef="apellido1">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 1ER APELLIDO </th>
                <td mat-cell *matCellDef="let element"> {{element.primerApellido}} </td>
            </ng-container>
            <!-- Apellido2 Column -->
            <ng-container matColumnDef="apellido2">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 2DO APELLIDO </th>
                <td mat-cell *matCellDef="let element"> {{element.segundoApellido}} </td>
            </ng-container>
            <!-- Nombre1 Column -->
            <ng-container matColumnDef="nombre1">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 1ER NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.primerNombre}} </td>
            </ng-container>
            <!-- Nombre2 Column -->
            <ng-container matColumnDef="nombre2">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 2DO NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.segundoNombre}} </td>
            </ng-container>
            <!-- Fecha nacimiento Column -->
            <ng-container matColumnDef="fnac">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> FECHA NACIMIENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
            </ng-container>



            <!-- Action Column -->
            <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> ACCIÓN </th>
                <td mat-cell *matCellDef="let element">

                    <a (click)="VerEstudiante(element.id)" mat-icon-button color="primary">
                        <mat-icon>remove_red_eye</mat-icon>
                    </a> 
                    <a (click)="EditarEstudiante(element.id)" mat-icon-button>
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a (click)="Eliminar(element.id)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </a>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>


<div *ngIf="mostrarTablaAgregar == true">
    <div class="parent">
        <mat-card class="estiloCard">

            <h2>NUEVO ESTUDIANTE</h2>
            <form [formGroup]="ESTU">

                <mat-form-field class="estiloField">
                    <mat-label>Documento:</mat-label>
                    <input type="text" formControlName="documento" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>1er Nombre:</mat-label>
                    <input type="text" formControlName="nombre1" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>2do Nombre:</mat-label>
                    <input type="text" formControlName="nombre2" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>1er Apellido:</mat-label>
                    <input type="text" formControlName="apellido1" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>2do Apellido:</mat-label>
                    <input type="text" formControlName="apellido2" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>Fecha nacimiento:</mat-label>
                    <input type="datetime-local" formControlName="fnac" matInput>
                </mat-form-field><br />

                <button class="estiloBoton" mat-raised-button color="primary" (click)="Agregar()">Agregar</button>
            </form>

        </mat-card>

    </div>
</div>


<div *ngIf="mostrarTablaEditar == true">
    <div class="parent">
        <mat-card class="estiloCard">

            <h2>EDITAR ESTUDIANTE</h2>
            <form [formGroup]="ESTUEDITADO">

                <mat-form-field class="estiloField">
                    <mat-label>Documento:</mat-label>
                    <input type="text" formControlName="documento" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>1er Nombre:</mat-label>
                    <input type="text" formControlName="nombre1" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>2do Nombre:</mat-label>
                    <input type="text" formControlName="nombre2" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>1er Apellido:</mat-label>
                    <input type="text" formControlName="apellido1" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>2do Apellido:</mat-label>
                    <input type="text" formControlName="apellido2" matInput>
                </mat-form-field><br />
                <mat-form-field class="estiloField">
                    <mat-label>Fecha nacimiento:</mat-label>
                    <input type="datetime-local" formControlName="fnac" matInput>
                </mat-form-field><br />

                <button class="estiloBoton" mat-raised-button color="primary" (click)="Editar()">Editar</button>
            </form>

        </mat-card>

    </div>
</div>

<div *ngIf="mostrarInfoEstu == true">
    <mat-grid-list cols="2" rowHeight="2:1">
        <!-- INFO ESTU -->
        <mat-grid-tile>

            <div class="tituloCurso">
                <p>INFORMACIÓN ESTUDIANTE</p>
            </div>
            <div class="infoEstu">
                <div>
                    <label style="font-size: 1.3em;font-weight: 400;">PRIMER NOMBRE:</label>
                    <p>{{ EstudianteSeleccionado[0].primerNombre }}</p> <br />
                </div>
                <div>
                    <label style="font-size: 1.3em;font-weight: 400;">SEGUNDO NOMBRE:</label>
                    <p>{{ EstudianteSeleccionado[0].segundoNombre }}</p> <br />
                </div>
                <div>
                    <label style="font-size: 1.3em;font-weight: 400;">PRIMER APELLIDO:</label>
                    <p>{{ EstudianteSeleccionado[0].primerApellido}}</p><br />
                </div>
                <div>
                    <label style="font-size: 1.3em;font-weight: 400;">SEGUNDO APELLIDO:</label>
                    <p>{{ EstudianteSeleccionado[0].segundoApellido}}</p><br />
                </div>
                <div>
                    <label style="font-size: 1.3em;font-weight: 400;">DOCUMENTO:</label>
                    <p>{{ EstudianteSeleccionado[0].documento }}</p><br />
                </div>
                <div>
                    <label style="font-size: 1.3em;font-weight: 400;">FECHA NACIMIENTO:</label>
                    <p>{{ EstudianteSeleccionado[0].fechaNacimiento }}</p><br />
                </div>
            </div>

        </mat-grid-tile>

        <!-- AGREGAR CURSO -->
        <mat-grid-tile>
            <div class="contenedorEstuYagregar">
                <div style="margin-top: -19em;">

                    <label style="font-size: 1.3em;font-weight: 400; ">AGREGAR ESTUDIANTE AL CURSO:</label>

                    <mat-form-field appearance="fill" class="elementosCurso">
                        <mat-label>Seleccionar curso:</mat-label>
                        <mat-select [formControl]="cursosFormControl" multiple>
                            <mat-option *ngFor="let curso of Cursos" [value]="curso.id">{{curso.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <button class="estiloBoton" mat-raised-button color="primary"
                        (click)="AgregarCursoEstudiante()">Guardar cambios</button>

                </div>
                <!-- TABLA ESTUDIANTE CURSOS -->

                <table mat-table [dataSource]="EstudianteCursos" class="mat-elevation-z8 estiloTablaCurso" style="margin-top: 2em;">

                    <!-- Nombre1 Column -->
                    <ng-container matColumnDef="curso">
                        <th mat-header-cell *matHeaderCellDef class="headerTable" style="text-align: left;"> CURSO </th>
                        <td mat-cell *matCellDef="let element"> {{element.curso.nombre}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef class="headerTable"> ACCIÓN </th>
                        <td mat-cell *matCellDef="let element" style="text-align: right;">
                            <a (click)="EliminarCursoEstu(element.id)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                            </a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsEstuCurso"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsEstuCurso;"></tr>
                </table>
            </div>

        </mat-grid-tile>
    </mat-grid-list>

</div>