<div class="parent">
    <mat-card class="estiloCard">

        <h2>INGRESAR</h2>
        <form [formGroup]="LOGINUSU">

            <mat-form-field class="estiloField">
                <mat-label>Nombre de usuario:</mat-label>
                <input type="text" formControlName="username" matInput>
            </mat-form-field><br />
            <mat-form-field class="estiloField">
                <mat-label>Contraseña:</mat-label>
                <input type="password" formControlName="password" matInput>
            </mat-form-field><br />
            <button class="estiloBoton" mat-raised-button color="primary" (click)="Ingresar()">Ingresar</button>
        </form>

    </mat-card>

</div>