<div *ngIf="mostrarTablaEstudiantesCurso== true">

    <div class="parent">
        <div class="tituloTabla">
            <h1>Estudiantes Curso</h1>
            
        </div>

        <table mat-table [dataSource]="EstudiantesCurso" class="mat-elevation-z8 estiloTabla">

            <!-- Documento Column -->
            <ng-container matColumnDef="documento">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> DOCUMENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.estudiante.documento}} </td>
            </ng-container>
            <!-- Apellido1 Column -->
            <ng-container matColumnDef="apellido1">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 1ER APELLIDO </th>
                <td mat-cell *matCellDef="let element"> {{element.estudiante.primerApellido}} </td>
            </ng-container>
            <!-- Apellido2 Column -->
            <ng-container matColumnDef="apellido2">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 2DO APELLIDO </th>
                <td mat-cell *matCellDef="let element"> {{element.estudiante.segundoApellido}} </td>
            </ng-container>
            <!-- Nombre1 Column -->
            <ng-container matColumnDef="nombre1">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 1ER NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.estudiante.primerNombre}} </td>
            </ng-container>
            <!-- Nombre2 Column -->
            <ng-container matColumnDef="nombre2">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> 2DO NOMBRE </th>
                <td mat-cell *matCellDef="let element"> {{element.estudiante.segundoNombre}} </td>
            </ng-container>
            <!-- Fecha nacimiento Column -->
            <ng-container matColumnDef="fnac">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> FECHA NACIMIENTO </th>
                <td mat-cell *matCellDef="let element"> {{element.estudiante.fechaNacimiento}} </td>
            </ng-container>



            <!-- Action Column -->
            <!-- <ng-container matColumnDef="accion">
                <th mat-header-cell *matHeaderCellDef class="headerTable"> ACCIÓN </th>
                <td mat-cell *matCellDef="let element">

                    <a (click)="Eliminar(element.id)" mat-icon-button color="warn">
                        <mat-icon>delete</mat-icon>
                    </a>

                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
