.parent {
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6em;
  text-align: center;
} 

.estiloTabla{
    width: 85%;
}

.headerTable{
    text-align: center;
}

.tituloTabla{
    display: flex;
    align-items: baseline;
}

.estiloCard{
    width: 40%;
}

.estiloField{
    width: 80%;
}

.estiloBoton{
    width: 80%;
}